scheta.netfree.pro {
    encode gzip

    # лимит размера загружаемого файла (15 МБ)
    request_body {
        max_size 15MB
    }

    # прокси на Gunicorn
    reverse_proxy 127.0.0.1:5000

    # логи
    log {
        output file /var/log/caddy/scheta.log
    }
}
